<!--Hardware Access-->
<div id="hardware-access-tuesday" class="access row"  >
    <div class="col-xs-6" style="padding-right: 0">
        <li class="list-group-item my-list-group-item">
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Provides information about the device's physical location." data-original-title="Tooltip on bottom"
               class="my-tooltip">Current Location:
            </a> <br>
            <b id="geolocation-tuesday-time-start">00:00</b><input id="geolocation-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="geolocation-tuesday-time-end">23:59</b>
            <span class="right"><input id="geolocation-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>


        <li class="list-group-item my-list-group-item">Device Orientation and Motion </br>
            <b id="deviceorientation-tuesday-time-start">00:00</b><input id="deviceorientation-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="deviceorientation-tuesday-time-end">23:59</b>
            <span class="right"> <input  id="deviceorientation-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>



        <li class="list-group-item my-list-group-item">Vibration Access </br>
            <b id="vibrate-tuesday-time-start">00:00</b><input id="vibrate-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30"  data-slider-value="[10,2359]"/><b id="vibrate-tuesday-time-end">23:59</b>
            <span class="right"><input id="vibrate-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span> </li>


        <li class="list-group-item my-list-group-item">Camera </br>
            <b id="mediaDevices-tuesday-time-start">00:00</b><input id="mediaDevices-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="mediaDevices-tuesday-time-end">23:59</b>
            <span class="right"> <input id="mediaDevices-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>

        <li class="list-group-item my-list-group-item">Battery Sensor </br>
            <b id="battery-tuesday-time-start">00:00</b><input id="battery-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="battery-tuesday-time-end">23:59</b>
            <span class="right"> <input id="battery-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>

    </div>
    <div class="col-xs-6" style="margin:0; padding-left:0">


        <li class="list-group-item my-list-group-item">Light Sensor </br>
            <b id="devicelight-tuesday-time-start">00:00</b><input id="devicelight-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="devicelight-tuesday-time-end">23:59</b>
            <span class="right"> <input id="devicelight-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>

        <li class="list-group-item my-list-group-item">Proximity Sensor </br>
            <b id="userproximity-tuesday-time-start">00:00</b><input id="userproximity-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="userproximity-tuesday-time-end">23:59</b>
            <span class="right"> <input id="userproximity-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
        <li class="list-group-item my-list-group-item">Device Orientation </br>
            <b id="orientationchange-tuesday-time-start">00:00</b><input id="orientationchange-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="orientationchange-tuesday-time-end">23:59</b>
            <span class="right"> <input id="orientationchange-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
        <li class="list-group-item my-list-group-item">Power Manager </br>
            <b id="powerManager-tuesday-time-start">00:00</b><input id="powerManager-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="powerManager-tuesday-time-end">23:59</b>
            <span class="right"> <input id="powerManager-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>

    </div>
</div>

<!--Communication Access Settings-->
<div id="communication-access-tuesday" class="access row hide">
    <div class="col-xs-6" style="padding-right: 0">
        <li class="list-group-item my-list-group-item">
            Web Notification <br>
            <b id="notification-tuesday-time-start">00:00</b><input id="notification-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="notification-tuesday-time-end">23:59</b>
            <span class="right"><input id="notification-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
        <li class="list-group-item my-list-group-item">
            Contacts <br>
            <b id="mozContact-tuesday-time-start">00:00</b><input id="mozContact-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="mozContact-tuesday-time-end">23:59</b>
            <span class="right"><input id="mozContact-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
        <li class="list-group-item my-list-group-item">
            Network Information <br>
            <b id="onLine-tuesday-time-start">00:00</b><input id="onLine-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="onLine-tuesday-time-end">23:59</b>
            <span class="right"><input id="onLine-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>



    </div>

    <div class="col-xs-6" style="margin:0; padding-left:0">

    </div>
</div>



<!--Files Access-->
<div id="datafile-access-tuesday" class="access row hide">
    <div class="col-xs-6" style="padding-right: 0">
        <li class="list-group-item my-list-group-item"> IndexedDB<br>
            <b id="indexedDB-tuesday-time-start">00:00</b><input id="indexedDB-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="indexedDB-tuesday-time-end">23:59</b>
            <span class="right"><input id="indexedDB-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
        <li class="list-group-item my-list-group-item"> Operating System Information<br>
            <b id="oscpu-tuesday-time-start">00:00</b><input id="oscpu-tuesday-time" type="text" class="span2" value="" data-slider-min="00" data-slider-max="1440" data-slider-step="30" data-slider-value="[10,2359]"/><b id="oscpu-tuesday-time-end">23:59</b>
            <span class="right"><input id="oscpu-tuesday-toggle" type="checkbox" checked data-toggle="toggle"></span>
        </li>
    </div>
</div>
